div.main{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;

  button{
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .result{
    margin-left: 20px;
    margin-right: 20px;
  }
  input{
    margin-top: 20px;
  }

}

