

<div class="main">
  <button
  [routerLink]="['/car-form/']" type="button"
  class="btn-outline-primary btn btn-lg"
  >
    Add new Car
  </button>
  <button
  [routerLink]="['/file-upload/']"
  type="button"
  class="btn-outline-primary btn btn-lg"
  >
    Add new cars via file
  </button>
  <div class="h4 pb-2 mb-4 text border-bottom ">
    Cars Table
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Chassis Number</th>
        <th scope="col">Color</th>
        <th scope="col">Type Approval No</th>
        <th scope="col">Deregistered Date </th>
        <th scope="col">First Registration </th>
        <th scope="col">Last Registration </th>
        <th scope="col">Monthly Registration </th>
        <th scope="col">Last Inspection </th>
        <th scope="col">Next Inspection </th>
        <th scope="col">Model Year </th>
        <th scope="col">Privately Imported </th>
      </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let car of carsDetails" >
          <th scope="row">  <a  [routerLink]="['/car-form/', car.identity]">{{ car.chassisNumber }}</a> </th>
          <td>{{ car.color }}</td>
          <td> {{ car.typeApprovalNo }} </td>
          <td>{{ car.deregisteredDate }}</td>
          <td>{{ car.firstRegistration }}</td>
          <td>{{ car.lastRegistration }}</td>
          <td>{{ car.monthlyRegistration }}</td>
          <td>{{ car.lastInspection }}</td>
          <td>{{ car.nextInspection }}</td>
          <td>{{ car.modelYear }}</td>
          <td>{{ car.privatelyImported }}</td>
      </tr>

    </tbody>
  </table>
</div>

